<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="failedTestCasesSuite">

<listeners>
    <listener class-name="ReTestFailedTests.MyTransformer"></listener>
</listeners>
  <test name="retryFailedTTestCases">
    <classes>
      <class name="ReTestFailedTests.mytests"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- failedTestCasesSuite -->
